:root {
  --color-primary: #e93f1b;
  --color-body: #030000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
}

.inner-container {
  max-width: 1140px;
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Buttons */

.btn {
  margin: 10px 20px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  color: white;
}

.btn-round {
  border-radius: 8px;
}

.btn-large {
  padding: 2.8rem 8.5rem;
}

.btn-small {
  padding: 2rem 4rem;
}

.btn-filled {
  background-color: var(--color-primary);
}

.btn-outline {
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  padding: 1.2rem 1.7rem;
  text-transform: uppercase;
}
