:root {
  --color-primary: #e93f1b;
  --color-body: #030000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Containers and Grids */

.outer-container {
  max-width: 1920px;
  margin: 0 auto;
}

.inner-container {
  max-width: 1140px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Buttons */

.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  color: white;
}

.btn-round {
  border-radius: 8px;
}

.btn-large {
  padding: 2.8rem 8.5rem;
}

.btn-small {
  padding: 2rem 4rem;
}

.btn-filled {
  background-color: var(--color-primary);
}

.btn-outline {
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  padding: 1.2rem 1.7rem;
  text-transform: uppercase;
}

/* Media Block */

.media-block {
  padding: 1rem;
}

.icon {
  max-width: 60px;
}

.media-block h3 {
  margin: 0rem 0 1.5rem;
}

/* About Us */
.about-us {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.seperator {
  width: 225px;
  margin-left: -2rem;
}

.about-us-content {
  line-height: 4rem;
  max-width: 450px;
  margin-bottom: 6rem;
}

.about-us-img {
  max-width: 500px;
  margin: 6rem auto;
}

@media screen and (min-width: 768px) {
  .about-us {
    text-align: left;
  }

  .about-us .grid {
    justify-items: center;
    align-items: center;
  }

  .about-us-img {
    max-width: 700px;
  }
}
