:root {
  --color-primary: #e93f1b;
  --color-body: #030000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Containers and Grids */

.outer-container {
  max-width: 1920px;
  margin: 0 auto;
}

.inner-container {
  max-width: 1140px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid {
    justify-items: center;
    align-items: center;
  }

  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3x2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Typography */

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Buttons */

.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  color: white;
}

.btn-round {
  border-radius: 8px;
}

.btn-large {
  padding: 2.8rem 8.5rem;
}

.btn-small {
  padding: 2rem 4rem;
}

.btn-filled {
  background-color: var(--color-primary);
}

.btn-outline {
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  padding: 1.2rem 1.7rem;
  text-transform: uppercase;
}

/* About Us */
.about-us {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.seperator {
  width: 225px;
  margin-left: -2rem;
}

.about-us-content {
  line-height: 4rem;
  max-width: 450px;
  margin-bottom: 6rem;
}

.about-us-img {
  max-width: 500px;
  margin: 6rem auto;
}

@media screen and (min-width: 768px) {
  .about-us {
    text-align: left;
  }

  .about-us-img {
    max-width: 700px;
  }
}

/* Quote */
.quote-block {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

.quote h3 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.quote-content {
  margin-bottom: 6rem;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .quote-block {
    text-align: left;
  }
}

/* Get in touch block */

.in-touch-block {
  background-color: white;
  padding: 3rem;
  text-align: center;
}

.in-touch-title {
  text-align: center;
}

.touch-seperator {
  width: 500px;
  height: 20px;
  margin-bottom: 5rem;
}

textarea {
  resize: none;
  height: 12rem;
}

.input {
  border: 1px solid var(--color-text-dark);
  color: white;
  font-size: 1.8rem;
  outline: 0;
  padding: 1.5rem 1rem;
  width: 90%;
  background-color: #1c1b2d;
}

.input-group {
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .in-touch-block {
    text-align: left;
  }

  .get-in-touch {
    width: 100%;
  }

  .in-touch-img {
    margin-top: -7rem;
    max-width: 500px;
  }
}

/* Testimonial */

.testimonial-content {
  background: var(--color-primary);
  color: white;
  margin: 0 auto;
  padding: 4rem;
}

.testimonial-title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin: 3rem 0;
}

.testimonial-title-colored {
  color: var(--color-primary);
  font-size: 3rem;
  text-transform: none;
  font-weight: bold;
}

.testimonial-content {
  text-align: center;
}

.quote1 {
  max-width: 25px;
  margin-right: 2rem;
}

.quote2 {
  max-width: 25px;
  margin-left: 2rem;
}

@media screen and (min-width: 768px) {
  .testimonial-block {
    max-width: 870px;
    margin: 0 auto;
    grid-template-areas:
      "img title title"
      "content content content";
    row-gap: -50px;
    justify-items: start;
  }

  .testimonial-content::before {
    background: url("../images/quote1.png");
  }

  .testimonial-content {
    grid-area: content;
    max-width: 870px;
    text-align: left;
  }

  .testimonial-img {
    grid-area: img;
    max-width: 250px;
    margin-bottom: -50px;
  }

  .testimonial-title {
    grid-area: title;
    text-align: left;
    width: 100%;
    font-size: 4rem;
  }

  .testimonial-title-colored {
    font-size: 3rem;
  }
}

/* Contact Us */

.contact-us-title {
  text-align: center;
}

.contact-us-icons-block {
  max-width: 450px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.contact-us-icon {
  max-width: 50px;
}

/* Media Block */

.media-block {
  padding: 1rem;
  text-align: center;
  margin: 0 auto 5rem;
}

.media-icon {
  max-width: 60px;
}

.media-block h3 {
  margin: 0rem 0 1.5rem;
}

.media-block p {
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .media-block {
    text-align: left;
  }
}

/* At Your Service */

.services-title {
  text-align: center;
}

.services-block {
  padding: 0 2rem;
}
