<div class="outer-container">
  <div class="about-us inner-container">
    <div class="grid grid-1x2">
      <div class="about-us">
        <h2>About Us</h2>
        <img class="seperator" src="images/line.png" alt="" />
        <p class="about-us-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint velit
          neque nemo, ratione facilis aliquid ex nesciunt culpa, accusamus,
          accusantium dignissimos recusandae laborum doloribus illo.
        </p>
        <button class="btn btn-large btn-round btn-filled">Get Started</button>
      </div>
      <div class="about-us-img">
        <img src="images/laptop.png" alt="Picture of a laptop" />
      </div>
    </div>
  </div>
</div>
