<div class="outer-container">
  <div class="inner-container">
    <div class="services-title">
      <h2>At Your Service</h2>
      <img class="touch-seperator" src="images/line.png" alt="" />
    </div>
    <div class="services-block grid grid-1x2">
      <div class="media-block">
        <img
          class="media-icon"
          src="images/heart.png"
          alt="Picture of a heart icon"
        />
        <h3>Written with Love</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
          repellat? Nulla ratione sit modi quas. Magni, praesentium. Enim iure
          est nam quisquam dignissimos quibusdam alias accusamus molestias natus
          sapiente!
        </p>
        <button class="btn btn-outline">Read More</button>
      </div>
      <div class="media-block">
        <img
          class="media-icon"
          src="images/ff.png"
          alt="Picture of a heart icon"
        />
        <h3>Fast Turnaround</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
          repellat? Nulla ratione sit modi quas. Magni, praesentium. Enim iure
          est nam quisquam dignissimos quibusdam alias accusamus molestias natus
          sapiente!
        </p>
        <button class="btn btn-outline">Read More</button>
      </div>
    </div>
    <div class="services-block grid grid-1x2">
      <div class="media-block">
        <img
          class="media-icon"
          src="images/letter.png"
          alt="Picture of a heart icon"
        />
        <h3>Up to Date</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
          repellat? Nulla ratione sit modi quas. Magni, praesentium. Enim iure
          est nam quisquam dignissimos quibusdam alias accusamus molestias natus
          sapiente!
        </p>
        <button class="btn btn-outline">Read More</button>
      </div>
      <div class="media-block">
        <img
          class="media-icon"
          src="images/notes.png"
          alt="Picture of a heart icon"
        />
        <h3>Premium Content</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
          repellat? Nulla ratione sit modi quas. Magni, praesentium. Enim iure
          est nam quisquam dignissimos quibusdam alias accusamus molestias natus
          sapiente!
        </p>
        <button class="btn btn-outline">Read More</button>
      </div>
    </div>
  </div>
</div>
