<div class="outer-container">
  <div class="inner-container">
    <div class="in-touch-title">
      <h2>Let's Get In Touch!</h2>
      <img class="touch-seperator" src="images/line.png" alt="" />
    </div>
    <div class="in-touch-block grid grid-1x2">
      <div class="get-in-touch">
        <form class="contact-form">
          <div class="input-group">
            <input
              aria-label="Name"
              type="text"
              class="input"
              placeholder="Name"
            />
          </div>
          <div class="input-group">
            <input
              aria-label="Email"
              type="email"
              class="input"
              placeholder="Email"
            />
          </div>
          <div class="input-group">
            <textarea class="input" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-small btn-round btn-filled">Send</button>
        </form>
      </div>
      <div class="in-touch-img">
        <img src="images/typewriter2.png" alt="Image of a typewriter" />
      </div>
    </div>
  </div>
</div>
