<div class="outer-container">
  <div class="quote-block inner-container">
    <div class="grid grid-1x2">
      <div class="quote">
        <h3>Get Your Quote Today!</h3>
        <p class="quote-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
          itaque corrupti nihil illo repudiandae quos.
        </p>
      </div>
      <div class="quote-button">
        <button class="btn btn-large btn-round btn-filled">Get A Quote</button>
      </div>
    </div>
  </div>
</div>
